.welcome-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 525px;
    margin: 1rem 1rem;
}
.hero-2{
    width: 600px;
}
.hero-img{
    width: 100%;
    height: 100%;
    animation: fadeIn1 2s  ease-out;
    border-radius: 10px;
    margin-top: 6rem;
}

.home-head{
    color: #dc3545;
    font-weight: 800;
}
.home-head-desc{
    color: #061c41;
}
  


.hero-1{
    width: 600px;
}

.hero-1 h1{
    font-size: 2rem;
    font-weight: 900;
    color: #061c41;
}


.quick-actions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   
}
.action-button{
    background-color: #4299e1;
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    margin-right: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(66, 153, 225, 0.5);
}

.action-button:hover{
    background-color: #dc3545;
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}


/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
      transform: translateX(-20px); /* Optional: Add slight movement */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  @keyframes fadeIn1 {
    0% {
      transform: translateX(20px); /* Optional: Add slight movement */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  
  /* Apply the animation to the h1 element */
  .welcome-section .hero-1 h1 {
    animation: fadeIn 2s  ease-out; /* 2 seconds duration, ease-out timing */
  }
  



@media (max-width: 600px) {
    .welcome-section{
        flex-direction: column-reverse;
        margin-top: 5rem;
    }
    .hero-2{
        width: auto;
    }
    .hero-1{
        width: auto;
        
    }
    .hero-1::after {
        display: none;
        overflow-x: hidden;
    }
    .hero-img{
        width: 100%;
    }
}